<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> CO2 / Sistema Nacional Huella de Carbono </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/estilos_datos_miembro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="/miembros/{{usuario.nombreDeUsuario}}" name="Home">
            <img class="img_logo_outline" src="/img/logo_outline.png"
             onmouseover="this.src='/img/logo_relleno.png'"
             onmouseout="this.src='/img/logo_outline.png'" alt="logo"/></a>
            <p class="p_Titulo"> Sistema Nacional // Huella de Carbono </p>
            {{#esAdmin usuarioLogueado.rol.id}}
            <div id="header">
                <ul class="nav">
                    <li> Admin <img class="miembro_icono" src="/img/miembro_icon.png" alt="miembro_icono">
                        <ul>
                            <li><a href="/admin/abm/miembro">Miembros</a></li>
                            <li><a href="/admin/abm/org">Organizaciones</a></li>
                            <li><a href="/admin/abm/fe">Factores de Emision</a></li>
                            <!--<li><a href="/admin/abm/provincia">Provincias</a></li>-->
                            <li><a href="/login/miembro/logout">Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {{/esAdmin}}
            {{#esMiembro usuarioLogueado.rol.id}}
            <div id="header">
                <ul class="nav">
                    <li> {{usuario.nombreDeUsuario}} <img class="miembro_icono" src="/img/miembro_icon.png" alt="miembro_icono">
                        <ul>
                            <li><a href="/miembros/{{usuario.nombreDeUsuario}}/huellaCarbono">Calcular HC</a></li>
                            <li><a href="/miembros/{{usuario.nombreDeUsuario}}/recomendacion">Guia de Recomendaciones</a></li>
                            <li><a href="/login/miembro/logout">Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {{/esMiembro}}
        </div>
    </header>
    <div class="div_body">
        <img class = "home_BG" src="/img/miembro_reg_bg.png" alt="Fondo">
        <img class = "home_BG2" src="/img/miembro_reg_bg2.png" alt="Fondo2">
            <form class = "form_datos" action="/miembros/{{usuario.nombreDeUsuario}}" method="post">
                <div class="form_titulo_tr">
                    <h1>DATOS MIEMBRO</h1>
                </div>  

                <div class="dato">
                    <input class = "text_input" name="nombre" placeholder="NOMBRE" value="{{usuario.nombre}}" required>
                </div>   

                <div class="dato">
                    <input class = "text_input" name="apellido" placeholder="APELLIDO" value="{{usuario.apellido}}" required>
                </div>   

                <select class="options" name="tipoDocumento" required>
                    <option value="" selected disabled hidden>{{usuario.persona.tipoDocumento}}</option>
                    <option class="option" value="DNI">DNI</option>
                    <option class="option" value="PASAPORTE">PASAPORTE</option>
                    <option class="option" value="LIBRETADEENROLAMIENTO">LIBRETA DE ENROLAMIENTO</option>
                    <option class="option" value="LIBRETACIVICA">LIBRETA CIVICA</option>
                </select>

                <div class="dato">
                    <input class = "text_input"  type="number" name="nroDocumento" placeholder="NRO DE DOCUMENTO" value="{{usuario.persona.documento}}" required>
                </div>
                <div class="dato">
                    <input class = "text_input"  type="number" name="telefono" placeholder="TELEFONO" value="{{usuario.persona.telefono}}" required>
                </div>
                <div class="dato">
                    <input class = "text_input" name="email" placeholder="EMAIL" value="{{usuario.persona.mail}}" required>
                </div>

                <div class="subtitulo">
                    <h2>DOMICILIO</h2>
                </div> 

                <div class="dato">
                    <input class = "text_input" name="calle" placeholder="CALLE" value="{{usuario.persona.domicilio.direccion}}" required>
                </div>   
                <div class="dato">
                    <input class = "text_input"  name="altura" placeholder="ALTURA" value="{{usuario.persona.domicilio.altura}}" required>
                </div>


                <select class="options" id="provinciaSel" name="provincia" required>
                    <option value="{{usuario.persona.domicilio.provincia.nombre}}" selected disabled hidden>{{usuario.persona.domicilio.provincia.nombre}}</option>
                    {{#each provincia}}
                        <option class="option" value="{{nombre}}">{{nombre}}</option>
                    {{/each}}
                </select>

                <select class="options" id="muniSel" name="municipio" required>
                    <option value="{{usuario.persona.domicilio.municipio.nombre}}" selected disabled hidden>{{usuario.persona.domicilio.municipio.nombre}}</option>
                </select>

                <div class="subtitulo">
                    <input class = "editar" type="submit" value="EDITAR" />
                </div>


                <div class="subtitulo">
                    <h2>ORGANIZACIONES ACTIVAS</h2>
                </div>

                <div class="container_vinculacion">
                    <select class="options" id="misOrganizacionesSel" required>
                        {{#each misOrganizaciones}}
                            <option class="option" placeholder="SECTOR">{{razonSocial}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="subtitulo">
                    <a class = "editar" href="/miembros/{{usuario.nombreDeUsuario}}/org/{{misOrganizaciones.[0].razonSocial}}"  id="verOrg"> Ver Organizacion </a>
                </div>
                <div class="subtitulo">
                    <h2>TRAYECTOS ACTIVOS</h2>
                </div>
                <div class="subtitulo">
                    <a class = "editar" href="/miembros/{{usuario.nombreDeUsuario}}/trayectos" > Agregar </a>
                </div>
                {{#each usuario.persona.trayectos}}
                    {{#each tramos}}
                        <div class="subtitulo">
                        <h2>Tramo </h2>
                        </div>
                        <div class="dato">
                            {{#if puntoOrigen.nombre}}
                            <input class = "text_input" name="localidadId" placeholder="LOCALIDAD" value="Estacion {{puntoOrigen.nombre}}" >
                            {{else}}
                            <input class = "text_input" name="localidadId" placeholder="LOCALIDAD" value="{{puntoOrigen.direccion}} {{puntoOrigen.altura}}">
                            {{/if}}
                        </div>
                        <div class="dato">
                            {{#if puntoDestino.nombre}}
                            <input class = "text_input" name="localidadId" placeholder="LOCALIDAD" value="Estacion {{puntoDestino.nombre}}" >
                            {{else}}
                            <input class = "text_input" name="localidadId" placeholder="LOCALIDAD" value="{{puntoDestino.direccion}} {{puntoOrigen.altura}}">
                            {{/if}}
                        </div>
                    {{/each}}
                {{/each}}
            </form>

        <form class="form_vincular" action="/miembros/{{usuario.nombreDeUsuario}}/vincular" method="post">
            <div class="form_titulo_tr">
                <h1>VINCULAR MIEMBRO</h1>
            </div>

            <div class="subtitulo">
                <h2>ORGANIZACION</h2>
            </div>

            <div class="container_vinculacion">

                <select class="options" id="organizacionSel" name="orgVincular" required>
                    <option value="" >Seleccione Organizacion</option>
                    {{#each organizacion}}
                        <option class="option" value="{{razonSocial}}">{{razonSocial}}</option>
                    {{/each}}
                </select>

                <select class="options" id="sectorSel" name="sectorVincular" required>
                    <option value="" >Seleccione Sector</option>
                    <!--{{#each organizacion.[0].sectores}}
                    <option class="option" value="{{nombre}}">{{nombre}}</option>
                    {{/each}}-->
                </select>
                <div class="subtitulo">
                    <input class = "editar" type="submit" value="SOLICITAR VINCULACION" />
                </div>
            </div>
            <div class="subtitulo">
                <h2>Pendientes</h2>
            </div>
            <div>
            <table class="tabla" id="tabla">
                <thead>
                    <th><i class="subtitulo"></i> Organizacion </th>
                    <th><i class="subtitulo"></i> Sector </th>
                </thead>
                <tbody>
                {{#each solicitud }}
                    <tr>
                        <td><i class="subtitulo"></i> {{organizacion.razonSocial}}</td>
                        <td>{{sector.nombre}}</td>
                    </tr>
                {{/each}}
                </tbody>
          </table>
          </div>
        </form>

        <form class="form_viajes" action="/miembros/{{usuario.nombreDeUsuario}}/viaje" method="post">
            <div class="form_titulo_tr">
                <h1>SOLICITUDES DE VIAJES</h1>
            </div>

            <div class="subtitulo">
                <h2>PENDIENTES</h2>
            </div>

            <table class="tabla" id="tabla">
                <thead>
                    <th><i class="subtitulo"></i> Persona </th>
                    <th><i class="subtitulo"></i> Origen </th>
                    <th><i class="subtitulo"></i> Destino </th>
                    <!--<th><i class="subtitulo"></i> Accion </th>-->
                </thead>
                <tbody>
                {{#each viaje}}
                    <tr>
                        <td>{{personaQueComparte.nombre}} {{personaQueComparte.apellido}}</td>
                        <td>{{tramoACompartir.puntoOrigen.direccion}}</td>
                        <td>{{tramoACompartir.puntoDestino.direccion}}</td>
                        <!--<td>
                        <a type="submit" name="button" class=" btn btn-edit">ACEPTAR<i class="fas fa-user-edit"></i></a>
                        <button type="button" name="button" class="btn" onclick="confirmarEliminacion('{{razonSocial}}')"><i class="fas fa-trash"></i></button>-->
                    </tr>
                {{/each}}
                </tbody>
                <div class="subtitulo">
                    <input class = "editar" type="submit" value="ACEPTAR VIAJES" />
                </div>
          </table>

          </div>
        </form>
        <input type="hidden" value="{{usuario.nombreDeUsuario}}" id="userId">
</body>

</html>
<script src="/js/datosMiembro.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>