<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> CO2 / Sistema Nacional Huella de Carbono </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/estilos_datos_org.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div>

        <a href="/organizaciones/{{usuario.nombreDeUsuario}}" name="Home">
        <img class="img_logo_outline" src="/img/logo_outline.png"
         onmouseover="this.src='/img/logo_relleno.png'"
         onmouseout="this.src='/img/logo_outline.png'" alt="logo"/></a>
        <p class="p_Titulo"> Sistema Nacional // Huella de Carbono </p>
        <img class="miembro_icono" src="/img/org_icon.png" alt="miembro_icono">
        <nav class="header_nav_login">
            <ul>
                <li>{{usuario.nombreDeUsuario}}</li>
            </ul>
        </nav>
    </div>
</header>
<div class="div_body">
    <img class = "home_BG" src="/img/org_reg_bg.png" alt="Fondo">
    <img class = "home_BG2" src="/img/org_reg_bg2.png" alt="Fondo2">
    <form class = "form_datos" action="/organizaciones/{{usuario.nombreDeUsuario}}/editar" method="post">
        <div class="form_titulo_tr">
            <h2>DATOS ORGANIZACION</h2>
        </div>

        <div class="dato">
            <input class = "text_input" name="nombre" placeholder="RAZON_SOCIAL" value="{{organizacion.razonSocial}}" >
        </div>

        <select class="options" name="tipo">
            <option class="option" value="{{organizacion.tipo}}" selected disabled hidden >{{organizacion.tipo}}</option>
            <option class="option" value="GUBERNAMENTAL">GUBERNAMENTAL</option>
            <option class="option" value="ONG">ONG</option>
            <option class="option" value="EMPRESA">EMPRESA</option>
            <option class="option" value="INSTITUCION">INSTITUCION</option>
        </select>

        <select class="options" name="clasificacion">
            <option class="option" value="{{organizacion.clasificacionOrg.nombre}}" selected disabled hidden >{{organizacion.clasificacionOrg.nombre}}</option>
            {{#each clasificaciones}}
                <option class="option" value="{{nombre}}">{{nombre}}</option>
            {{/each}}
        </select>

        <div class="subtitulo">
            <h3>UBICACION</h3>
        </div>

        <div class="dato">
            <input class = "text-input" name="direccion" placeholder="CALLE" value="{{usuario.organizacion.ubicacionGeografica.direccion}}" >
        </div>
        <div class="dato">
            <input class = "text_input"  type="number" name="altura" placeholder="ALTURA" value="{{usuario.organizacion.ubicacionGeografica.altura}}" >
        </div>


        <select class="options" id="provinciaSel" name="provincia">
            <option value="{{usuario.organizacion.ubicacionGeografica.provincia.nombre}}" selected disabled hidden>{{usuario.organizacion.ubicacionGeografica.provincia.nombre}}</option>
            {{#each provincias}}
                <option class="option" value="{{nombre}}">{{nombre}}</option>
            {{/each}}
        </select>

        <select class="options" id="muniSel" name="municipio">
            <option value="{{usuario.organizacion.ubicacionGeografica.municipio.nombre}}" selected disabled hidden>{{usuario.organizacion.ubicacionGeografica.municipio.nombre}}</option>
            {{#each provincia.[0].municipios}}
                <option value="{{nombre}}">{{nombre}}</option>
            {{/each}}
        </select>

        <div class="subtitulo">
            <h3>SECTORES</h3>
        </div>

        {{#each organizacion.sectores}}
        <div class="dato" >
            <h5>{{nombre}} <!--<button class="button_vincular" type="button" name="button" onclick="quitarSector('{{id}}')">Quitar Sector</button>--></h5>
        </div>
        {{/each}}
        <div class="dato" name="sectores">
            <input id="inputSector" placeholder="SECTOR NUEVO"> <button class="button_vincular" type="button" name="button" onclick="agregarSector()">Agregar Sector</button>
        </div>

        <div class="subtitulo">
            <button class="button_vincular" type="submit">CONFIRMAR EDICION</button>
        </div>
    </form>


</body>

<!-- MODAL -->
<div class="modalEliminar modal" id="modalAgregar">
    <div class="modalContent" style="background-color: cornsilk!important;">
        <input id="nombreSector" type="hidden" value="">
        <p>¿Desea confirmar que agrega este Sector?</p>
        <br>
        <div class="">
            <button type="button" name="button" class="btn-rojo" onclick="confirmarSector()">Agregar</button>
            <button type="button" name="button" class="btn-cancelar" onclick="cerrarModal()">Cancelar</button>
        </div>
    </div>
</div>
<!-- FIN MODAL -->

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="/js/provinciasSelectEditar.js" charset="utf-8"></script>