<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> CO2 / Sistema Nacional Huella de Carbono </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/estilos_registrar_mediciones.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="/organizaciones/{{organizacion.razonSocial}}" name="Home">
                <img class="img_logo_outline" src="/img/logo_outline.png"
                     onmouseover="this.src='/img/logo_relleno.png'"
                     onmouseout="this.src='/img/logo_outline.png'" alt="logo"/></a>
            <p class="p_Titulo"> Sistema Nacional // Huella de Carbono </p>
            <div id="header">
                <ul class="nav">
                    <li> {{organizacion.razonSocial}} <img class="miembro_icono" src="/img/Icono_Org.png" alt="miembro_icono">
                        <ul>
                            <li><a href="/organizaciones/{{usuario.nombreDeUsuario}}/mediciones">Cargar Mediciones</a></li>
                            <li><a href="/organizaciones/{{usuario.nombreDeUsuario}}/huellaCarbono">Calcular Huella</a></li>
                            <li><a href="/organizaciones/{{usuario.nombreDeUsuario}}/recomendacion">Guia de Recomendaciones</a></li>
                            <li><a href="/organizaciones/{{organizacion.id}}/solicitudes">Solicitud de Vinculacion</a></li>
                            <li><a href="/organizaciones/{{organizacion.id}}/reportes">Generar reportes</a></li>
                            <li><a href="/login/organizacion/logout">Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="div_body">
        <img class = "home_BG" src="/img/org_reg_bg.png" alt="Fondo">
        <img class = "home_BG2" src="/img/org_reg_bg2.png" alt="Fondo2">
        <div class = "form_container">

            <form class = "form_register" method="post" enctype="multipart/form-data">
                <div class="form_titulo">
                <h1>ORGANIZACION: {{organizacion.razonSocial}}</h1>
                </div>  

                <div class="form_subtitulo">
                    <h1>REGISTRAR MEDICIONES</h1>
                </div>

                <div class="btnSelArchivo">
                    <input class = "subtitulo" type="file" name="myFile">
                    <button class = "editar" >Cargar archivo</button>
                </div>
                <!--
                <div class = "confirm_button"> <p>
                    <br><br>
                    <label for="myfile">Selecionar archivo: </label>
                    <input type="file" id="myfile" name="myfile">
                    <button type="submit"></button></p>
                </div>-->

                <div class = "container">

                    <div class = "subtitulo">
                        <div>ACTIVIDAD</div>
                        <div>TIPO DE CONSUMO</div>
                        <div>VALOR</div>
                        <div>PERIODICIDAD</div>
                        <div>PERIODO</div>
                    </div>

                    {{#each organizacion.mediciones}}
                    <div class="medicion">
                        <div class="item">{{actividad}}</div>
                        <div class="item">{{tipoDeConsumo.tipo}}</div>
                        <div class="item">{{tipoDeConsumo.valor}}</div>
                        <div class="item">{{periocidad}}</div>
                        <div class="item">{{mes}} / {{anio}}</div>
                    </div>
                    {{/each}}
                </div>
                <!-- ESTE FORM INTERNO (1 LINEA) TIENE QUE QUEDAR, TRANFORMAR LO OTRO EN OTRA COSA, O A ESTE DARLE ESTILO  -->
                <form class = "form_Boton" method="post" enctype="multipart/form-data">

                </form>
            </form>
        </div>
    </div>

</body>

</html>