<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> CO2 / Sistema Nacional Huella de Carbono </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <script src="/js/registrar_miembro.js"></script>
    <link rel="stylesheet" href="/css/estilos_registro_org.css">
    <link rel="stylesheet" href="/css/estilos_registro_miembro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="/" name="Home">
            <img class="img_logo_outline" src="/img/logo_outline.png"
             onmouseover="this.src='/img/logo_relleno.png'"
             onmouseout="this.src='/img/logo_outline.png'" alt="logo"/></a>
            <p class="p_Titulo"> Sistema Nacional // Huella de Carbono </p>
            <img class="org_icono" src="/img/organizacion_icon.png" alt="organizacion_icono">
            <nav class="header_nav_login">
                <ul>
                    <li>Registrar Organización</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="div_body">
        <img class = "home_BG" src="/img/org_reg_bg.png" alt="Fondo">
        <img class = "home_BG2" src="/img/org_reg_bg2.png" alt="Fondo2">
        <div class = "form_container">
            <form name="form_registro" class = "form_register" action="/registrar/exitoOrg" onsubmit="return validateForm()"  method="post">
                <div class="form_titulo_reg">
                <h1>REGISTRAR ORGANIZACION</h1>
                </div>

                <input class = "text_input_reg" type="text" name="usuario" id="usuario" value="" placeholder="USUARIO" onchange="verificarUsuario()">
                <input class = "text_input_reg" type="password" name="contrasenia" value="" placeholder="CONTRASEÑA">
                <input class = "text_input_reg" type="text" name="nombre" placeholder="RAZON SOCIAL" required>

                <select class="options_reg" name="tipo-organizacion" required>
                    <!--<option hidden selected>Selecciona tipo</option>-->
                    <option class="option" value="ONG">ONG</option>
                    <option class="option" value="GUBERNAMENTAL">GUBERNAMENTAL</option>
                    <option class="option" value="EMPRESA">EMPRESA</option>
                    <option class="option" value="INSTITUCION">INSTITUCION</option>
                </select>
                
                <select class="options_reg" name="clasificacion-organizacion" required>
                    <option value="">Selecciona clasificación</option>
                    {{#each clasificaciones}}
                        <option class="option" value="{{nombre}}">{{nombre}}</option>
                    {{/each}}
                </select>


                <div class="form_subtitulo_reg">
                    <h1>SECTORES</h1>
                </div>

                <input multiple class = "text_input_reg" type="text" name="sectores" value="" placeholder="Ingrese los sectores separados por comas" required>

                <div class="form_subtitulo_reg">
                    <h1>UBICACION</h1>
                </div>

                <input class = "text_input_reg" type="text" name="direccion" placeholder="DIRECCION" required>
                <input class = "text_input_reg" type="text" name="altura" placeholder="ALTURA" required>

                <div class="form_subtitulo_reg">
                    <p>Provincia: </p>


                    <select class="options_reg" id="provinciaSel" name="provincia" required>
                        {{#each provincia}}
                            <option class="option" value="{{nombre}}">{{nombre}}</option>
                        {{/each}}
                    </select>

                    <p> Municipio: </p>
                    <select class="options_reg" id="muniSel" name="municipio" required>
                        {{#each provincia.[0].municipios}}
                            <option value="{{nombre}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>

                <!--
                <div class="button_add_sector">
                    <p>AGREGAR</p>
                </div>
                -->
                <div class="form_subtitulo_reg">
                        <input id="registrarBtn" class="crear" type="submit" value="REGISTRARSE">
                </div>
            </form>

        </div>
    </div>

</body>

<!-- ================= MODAL ELIMINACION ================== -->
<div class="modalMismoUsuario modal" id="modalUsuario">
    <div class="modalContent">
        <input type="hidden" value="" id="userId">
        <h1>Usuario ocupado, cambialo perro</h1>
        <div>
            <button type="button" name="button" class="btn-cancelar" onclick="cerrarModal()">Cancelar</button>
        </div>
        <br>
    </div>
</div>
<!-- ================= FIN MODAL ELIMINACION ================== -->

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/provinciasSelect.js" charset="utf-8"></script>