<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <meta charset="utf-8">
    <title> CO2 / Sistema Nacional Huella de Carbono </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/reportes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="/agentes/{{usuario.nombreDeUsuario}}" name="Home">
                <img class="img_logo_outline" src="/img/logo_outline.png"
                     onmouseover="this.src='/img/logo_relleno.png'"
                     onmouseout="this.src='/img/logo_outline.png'" alt="logo"/></a>
            <p class="p_Titulo"> Sistema Nacional // Huella de Carbono </p>
            <div id="header">
                <ul class="nav">
                <li> {{usuario.nombreDeUsuario}} <img class="miembro_icono" src="/img/miembro_icon.png" alt="miembro_icono">
                    <ul>
                        <li><a href="/agente/{{usuario.nombreDeUsuario}}">Reportes Huellas de Carbono</a></li>
                        <li><a href="/login/miembro/logout">Salir</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </header>
    <div class="div_body">
        <img class = "home_BG" src="/img/BG_Reporte_1.jpg" alt="Fondo">
        <img class = "home_BG2" src="/img/BG_Reporte_2.jpg" alt="Fondo2">
            <form class = "form_datos">
                <div class="form_titulo_tr">
                    <h1>REPORTES HC</h1>
                </div>
                <div class="dato">
                    <a> </a>
                </div>
                <div class="hc">
                    <h2>Huella de Carbono {{usuario.nombreDeUsuario}}</h2>
                </div>

                <div class="subtitulo">
                    <h2>HC Total Del Sector Territorial</h2>
                </div>

                {{#each reporteSectorTerritorial}}
                    <div class="dato">
                        <a>• {{@key.nombre}}</a>
                        <a class="dato_num">{{this}}</a>
                    </div>
                {{/each}}

                <br>
                <div class="dato">
                    <a> </a>
                </div>
                <div class="subtitulo">
                    <h2>HC Por Clasificación Organización</h2>
                </div>
                {{#each reporteClasificacionesOrganizaciones}}
                <div class="dato">
                    <a>• {{@key.nombre}}</a>
                    <a class="dato_num">{{this}}</a>
                </div>
                {{/each}}

                <br>
                <div class="dato">
                    <a> </a>
                </div>
                <div class="subtitulo">
                    <h2>HC Por Sectores Territoriales</h2>
                </div>

                {{#each reporteSectoresTerritoriales}}
                <div class="dato">
                    <a>• {{@key.nombre}} </a>
                    <a class="dato_num">{{this}}</a>
                </div>
                <div class="dato">
                    <a> </a>
                </div>
                {{/each}}

                <br>
            </form>

        <form class="form_composicion">
            <div class="form_titulo_tr">
                <h1>COMPOSICION</h1>
            </div>  

            <div class="hc">
                <h2>Huella de Carbono</h2>
            </div>

            <div class="subtitulo">
                <h2>HC Por División Territorial</h2>
            </div>

            {{#each reporteDivisionesTerritoriales}}
                <div class="dato">
                    <a>• {{@key.nombre}}</a>
                    <a class="dato_num">{{this}}</a>
                </div>
            {{/each}}
        </form>

        <form class="form_evolucion">
            <div class="form_titulo_tr">
                <h1>EVOLUCION</h1>
            </div>  

            <div class="hc">
                <h2>Huella de Carbono</h2>
            </div>




            {{#each reporteEvolucionSectorTerritorial}}
                <div id="chart"></div>
                <div class="dato">
                    <a id="anio{{@key}}" hidden >• {{@key}}</a>
                    <a id="valor{{@key}}" class="dato_num" hidden>{{this}}</a>
                </div>
                <div class="dato">
                    <a> </a>
                </div>
            {{/each}}

            <br>

        </form>

        <!--
        <form class="form_composicion_graf">
            <div class="form_titulo_tr">
                <h1>COMPOSICION</h1>
            </div>

            <div class="hc">
                <h2>Huella de Carbono Nacional</h2>
            </div>

            {{#each reporteProvincias}}
            <div class="dato">
                <a>• {{@key.nombre}}</a>
                <a class="dato_num">{{this}}</a>
            </div>
            {{/each}}
        </form>
        -->
    </div>
</body>

</html>

<script>


var anio1 = document.getElementById("valor2021").text;
var anio2 = document.getElementById("valor2022").text;

var options = {
  series: [{
    name: "Evolucion",
    data: [anio1,  anio2]
}],
  chart: {
  height: 250,
  type: 'line',
  zoom: {
    enabled: false
  }
},
dataLabels: {
  enabled: false
},
stroke: {
  curve: 'straight'
},
title: {
  text: 'Anios',
  align: 'left'
},
grid: {
  row: {
    colors: ['#FFFFFF', 'transparent'], // takes an array which will be repeated on columns
    opacity: 0.5
  },
},
xaxis: {
  categories: ['2021', '2022'],
}
};

var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();

</script>