<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> CO2 / Sistema Nacional Huella de Carbono </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/estilos_trayectos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="/miembros/{{usuario.nombreDeUsuario}}" name="Home">
            <img class="img_logo_outline" src="/img/logo_outline.png"
             onmouseover="this.src='/img/logo_relleno.png'"
             onmouseout="this.src='/img/logo_outline.png'" alt="logo"/></a>
            <p class="p_Titulo"> Sistema Nacional // Huella de Carbono </p>
            <div id="header">
                <ul class="nav">
                    <li> {{usuario.nombreDeUsuario}} <img class="miembro_icono" src="/img/miembro_icon.png" alt="miembro_icono">
                        <ul>
                            <li><a href="/miembros/{{usuario.nombreDeUsuario}}/huellaCarbono">Calcular HC</a></li>
                            <li><a href="/miembros/{{usuario.nombreDeUsuario}}/recomendacion">Guia de Recomendaciones</a></li>
                            <li><a href="/login/miembro/logout">Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="div_body">
        <img class = "home_BG" src="/img/BG_Transporte_1.jpg" alt="Fondo">
        <img class = "home_BG2" src="/img/BG_Transporte_2.jpg" alt="Fondo2">
        <div class = "form_container">
            <form class = "form_trayectos" action="/miembros/{{usuario.nombreDeUsuario}}/trayectos" method="post">
                <div class="form_titulo_tr">
                    <h1>TRAYECTOS</h1>
                </div>  

                <div class="tramo">
                    <h2>Tramo</h2>
                </div>  

                <select class="options" id="medioOrigen" name="medioOrigen" required>
                    <option class="option" value="a_pulmon">A pulmon</option>
                    <option class="option" value="transporte_publico">Transporte Publico</option>
                    <option class="option" value="vehiculo_particular">Vehiculo Particular</option>
                    <option class="option" value="servicio_contratado" >Servicio Contratado</option>
                </select>
                <div class="container_buttons">
                <div class="subtitulo">
                    <h2>UBICACION INICIAL</h2>
                </div>
                    <select class="options" id="medioOrigenSel" name="medioOrigenSel" required>
                        <option class="option" value="direccion" selected >Direccion</option>
                        <option class="option" value="estacion">Estacion</option>
                    </select>
                </div>  

                <input class = "text_input_reg" type="text" name="direccionOrigen" id="direccionOrigen" value="" placeholder="DIRECCION" required>
                <input class = "text_input_reg" type="text" name="alturaOrigen" id="alturaOrigen" value="" placeholder="ALTURA" required>

                <div class="container_buttons">
                <select class="options" id="provinciaOrigenSel" name="provinciaOrigenSel" required>
                    <option value="" >Seleccionar</option>
                    {{#each provincia}}
                        <option class="option" value="{{nombre}}">{{nombre}}</option>
                    {{/each}}
                </select>
                <select class="options" id="muniOrigenSel" name="muniOrigenSel" required>
                    <option value="" >Seleccionar</option>
                </select>
                </div>

                <div class="container_buttons">
                <div class="subtitulo">
                    <h2>Tipo de Vehiculo</h2>
                </div>
                <select class="options" id="vehiculoSelect_1" name="vehiculoSelect_1" disabled required>
                    <option value="AUTO">Auto</option>
                    <option value="MOTO">Moto</option>
                    <option value="CAMIONETA">Camioneta</option>
                </select>
                <select class="options" id="vehiculoTipoSelect_1" name="vehiculoTipoSelect_1" disabled required>
                    <option value="NAFTA">Nafta</option>
                    <option value="ELECTRICO">Electrico</option>
                    <option value="GASOIL">Gasoil</option>
                    <option value="GNC">GNC</option>
                </select>
                </div>
                <div class="container_buttons">
                <div class="subtitulo">
                    <h2>Tipo de Servicio</h2>
                </div>
                <select class="options" id="servicioSelect_1" name="servicioSelect_1" disabled required>
                    <option value="TAXI">Taxi</option>
                    <option value="UBER">Uber</option>
                    <option value="CABIFY">Cabify</option>
                </select>
                </div>

                <div class="container_buttons">
                <div class="subtitulo">
                    <h2>Transporte Publico</h2>
                </div>
                <select class="options" id="transporteSelect_1" name="transporteSelect_1" disabled required>
                    <option value="">Seleccionar</option>
                    <option value="TREN">Tren</option>
                    <option value="SUBTE">Subte</option>
                    <option value="COLECTIVO">Colectivo</option>
                </select>

                <select class="options" id="lineaSelect_1" name="lineaSelect_1" disabled required>
                        <option class="option" value="">Seleccionar</option>
                </select>

                <select class="options" id="estacionSelect_1" name="estacionSelect_1" disabled required>
                        <option class="option" value="">Seleccionar</option>
                </select>
                </div>
                <div>
                </div>
                <div class="container_buttons">
                <div class="subtitulo">
                    <h2>UBICACION FINAL</h2>
                </div>
                <select class="options" id="medioDestino" name="medioDestinoSel" required>
                    <option class="option" value="direccion" selected >Direccion</option>
                    <option class="option" value="estacion">Estacion</option>
                </select>
                </div>
                <input class = "text_input_reg" type="text" id="direccionDestino" name="direccionDestino" value="" placeholder="DIRECCION" required>
                <input class = "text_input_reg" type="text" id="alturaDestino" name="alturaDestino" value="" placeholder="ALTURA" required>

                <div class="container_buttons">
                <select class="options" id="provinciaDestinoSel" name="provinciaDestinoSel" required>
                    <option value="" >Seleccionar</option>
                    {{#each provincia}}
                        <option class="option" value="{{nombre}}">{{nombre}}</option>
                    {{/each}}
                </select>
                <select class="options" id="muniDestinoSel" name="municipioDestinoSel" required>
                   <option value="" >Seleccionar</option>
                </select>
                </div>

                <div class="container_buttons">
                <div class="subtitulo">
                    <h2>Estacion Destino</h2>
                </div>
                <select class="options" id="transporteSelect_2" name="transporteSelect_2" disabled required>
                    <option value="">Seleccionar</option>
                    <option value="TREN">Tren</option>
                    <option value="SUBTE">Subte</option>
                    <option value="COLECTIVO">Colectivo</option>
                </select>

                <select class="options" id="lineaSelect_2" name="lineaSelect_2" disabled required>
                        <option class="option" value="">Seleccionar</option>
                </select>

                <select class="options" id="estacionSelect_2" name="estacionSelect_2" disabled required>
                        <option class="option" value="">Seleccionar</option>
                </select>
                </div>

                <div class="subtitulo">
                    <h2>COMPARTIR TRAMO</h2>
                </div>
                <div class = "container">
                    <ul class = "miembros" name=>
                        {{#each miembros}}
                            <li><input type="checkbox" name="miembro_{{id}}" value="{{id}}">{{nombre}} {{apellido}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="buttonAgregar">
                    <button class = "button" type="submit">AGREGAR TRAMO</button>
                </div>

                <div>
                </div>
                <div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>

<script src="/js/trayectos.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>